<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
	<head>
	  	<title>File Upload Demo</title>
	  	<meta charset="utf-8">
	  	<meta name="viewport" content="width=device-width, initial-scale=1">
	  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	</head>
	<body>
	 <div th:insert="/MenuNavabar"></div>  
		
		<div class="container">
		<h1><span class="badge badge-secondary">Add New Lesson</span></h1>
		<div class="alert alert-success">File uploaded successfully</div>
		<div class="alert alert-danger">File is not uploaded. Error occurred</div>
		    <div class="form-group">
		      <label for="name">Chapter:</label>
		      <input type="text" class="form-control" id="chapter" placeholder="Enter chapter " name="chapter">
		    </div>
		    <div class="form-group">
		      <label for="name">Titel:</label>
		      <input type="text" class="form-control" id="titel" placeholder="Enter Titel " name="titel">
		    </div>
		   
			<form id="fileUploadForm">
			<div class="form-group">
				<input type="file" class="form-control-file border" name="file">
			</div>
		</form>
			<button type="button" class="btn btn-primary" id="btnSubmit">Submit</button>
		</div>
		<br/>
		<div class="container">
			<h1><span class="badge badge-secondary">All Lesson</span></h1>
			 <div class="table-responsive">
				    <table class="table table-hover table-bordered">
				      <thead>
				        <tr>
				          <th>LessonID</th>
				          <th>Chapter</th>
				          <th>Titel</th>
				           <th>File</th>
				        </tr>
				      </thead>
				      <tbody>
				      </tbody>
				    </table>
				</div>
			</div>
			
			<!-- 
			<iframe width="560" height="315" src="https://www.youtube.com/embed/cT7pknCOmgg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			+result[index].profilePicPath+
			
			<img src=\""+result[index].profilePicPath+"\"></img>
			 -->
			<script>
			function getEmployeeDetails() {
				  $.ajax({url: "/employees", success: function(result){
					  $(".table tbody").html('');
					  if(result.length>0) {
					  $.each(result, function( index, value ) {
						  var htmlStr=null;
						  if(result[index].extension=="mp4"){
							  debugger;
							  htmlStr = "<tr><td>"+result[index].lessionId+"</td><td>"+result[index].chapter+"</td>"+
							  "<td>"+result[index].titel+"</td>"+
				
							  "<td><video width='200' height='200' controls>"+
							  "<source  width='200' height='130' src=\""+result[index].filePath+"\" type='video/mp4'>></source></video></td>"+
							  "</tr>";
							 	
						  }
						  else{
							debugger;
						 htmlStr = "<tr><td>"+result[index].lessionId+"</td><td>"+result[index].chapter+"</td>"+
						  "<td>"+result[index].titel+"</td>"+
						 "<td><img width='200' height='110' src=\""+result[index].filePath+"\" controls  download>></img></td>"+
						  "</tr>";
						 	
						  }
						  $(".table tbody").append(htmlStr);
						});
					  } else {
						  $(".table tbody").append('<tr><td colspan="4" style="color:red;">No records to display</td></tr>');
					  }
				    }});
			}
				$(document).ready(function () {
					getEmployeeDetails();
					$(".alert-success").hide();
					$(".alert-danger").hide();
					
		
				    $("#btnSubmit").click(function () {
					    var form = $('#fileUploadForm')[0];
						var data = new FormData(form);
				        var jsonDataObj = {
				        	"chapter": $("#chapter").val(),
				            "titel" : $("#titel").val()
				        };
				        data.append("empJson", JSON.stringify(jsonDataObj));
				        $("#btnSubmit").prop("disabled", true);
				        $.ajax({
				            type: "POST",
				            enctype: 'multipart/form-data',
				            url: "/employees",
				            data: data,
				            processData: false,
				            contentType: false,
				            cache: false,
				            timeout: 600000,
				            success: function (data) {
				              
				                console.log("SUCCESS : ", data);
				                $("#btnSubmit").prop("disabled", false);
				                $(".alert-success").show();
				                $(".alert-danger").hide();
				                $("#titel").val('');
				                $("#fileUploadForm")[0].val('');
				                $("#chapter").val('');
				                getEmployeeDetails();
				                
				            },
				            error: function (e) {
				            	 $(".alert-success").hide();
				                 $(".alert-danger").show();
				                console.log("ERROR : ", e);
				                $("#btnSubmit").prop("disabled", false);
				            }
				        });
				    });
				});
				
				
				
				
				
		</script>
	</body>
</html>